@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img width="1024" height="682" class="w-100 h-auto img-fluid" src="https://placehold.co/1024x682" alt="Banner Pricipal" />

<div class="card w-75 p-4 mx-auto mb-3 text-center" style="margin-top: -80px;">
    <h1 class="display-4">Welcome</h1>
    <code>
        Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
        Other references for design and personalizated content - <a href="https://digitalists.at/">digitalists</a>.
        More layouts theme of the Wordpress - <a href="https://athemes.com/collections/free-portfolio-wordpress-themes/">aThemes</a>.
        A most favourite theme elegible, but not customizable - <a href="https://wordpress.org/themes/oceanwp/">OceanWP</a>.
    </code>
    <p>
        Nossos programas educacionais são cuidadosamente planejados para atender as necessidades específicas de cada faixa etária,
        estimulando o desenvolvimento cognitivo, motor, social e emocional das crianças.
        Além disso, oferecemos uma variedade de atividades extracurriculares que enriquecem o aprendizado e promovem o desenvolvimento integral.
    </p>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-12 col-md">
            <div class="card w-100" style="width: 18rem;">
                <img src="https://placehold.co/290x180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md">
            <div class="card w-100" style="width: 18rem;">
                <img src="https://placehold.co/290x180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md">
            <div class="card w-100" style="width: 18rem;">
                <img src="https://placehold.co/290x180" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>
