@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Other references for design and personalizated content - <a href="https://digitalists.at/">digitalists</a>.</p>
    <p>More layouts theme of the Wordpress - <a href="https://athemes.com/collections/free-portfolio-wordpress-themes/">aThemes</a>.</p>
    <p>A most favourite theme elegible, but not customizable - <a href="https://wordpress.org/themes/oceanwp/">OceanWP</a>.</p>
</div>
